{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "fetch": false,
    "localStorage": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "settings": {
    "react": {
      "version": "detect",
      "flowVersion": "0.49.1"
    }
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "indent": [
      "error",
      4
    ],
    "quote-props": [
      2,
      "as-needed",
      {
        "numbers": true
      }
    ]
  },
  "env": {
    "jest": true
  }
}